/*Animacao*/
@keyframes spin{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
}

/**/
/*Primeiro painel Home*/

#principal{
    font-family: 'Kanit', sans-serif;
    background-color: #ccc;
}

#principalPrimeiraDiv1{
    width: 850px;
    margin-left: 55px;
    height: 400px;
    background-color: aliceblue;
}
  
#principalPrimeiraDiv1 h1, h3{
  text-align: justify;
}

#principalPrimeiraDiv1 h1{
  padding-top: 100px;
  margin-left: 55px;
  font-size: 3.5em;
  font-weight: 600;
}

#principalPrimeiraDiv1 h3{
  margin-top: 50px;
  margin-left: 60px;
  font-size: 1.4em;
  width: 620px;
}

#principalSegundaDiv{
    width: 400px;
    margin-right: 100px;
    margin-top: 60px;
}

#imagens{
  width: 450px;
  animation: spin 40s linear infinite;
}
  /**/

#interacao{
  border: 1px solid #ccc;
  margin-top: 50px;
  border-radius: 10px;
}

#tituloInteracao{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

#formulario{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#dadosCovid{
    text-align: center;
}

#informacao{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px 0;
}

#divInformacoes{
    border: 1px solid #ccc;
    border-radius: 10px;
}

#informacoesExtras{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.button {
    margin-top: 15px;
}

.textoInfoExtras{
    font-weight: 600;
    margin-left: 10px;
}

footer{
    text-align: center;
    margin-top: 20px;
}